<div class="wrapper">

    <div class="toolbar">
        <mat-toolbar>
            My task list
        </mat-toolbar>
    </div>

    <div class="create-task">

        <button mat-mini-fab color="primary" (click)="addTask(title)"><mat-icon>add</mat-icon></button>
        <mat-form-field>
            <input matInput placeholder="Enter new task" [(ngModel)]="title">
        </mat-form-field>



    </div>



    <app-task *ngFor="let task of tasks" [task]="task" (onUpdate)="updateStatus($event)" (onDelete)="delete($event)"></app-task>

</div>